.title-block {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 78px;
  }
  
  .title-block__head {
    display: block;
    box-sizing: border-box;
    position: relative;
    font-size: 40px;
    padding-bottom: 20px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 21px;
    text-transform: uppercase;
    text-align: center;
  }
  
.title-block__head::after {
  content: "";
  width: 88px;
  height: 4px;
  display: inline-block;
  background-color: #000;
  opacity: 0.15;
  position: absolute;
  bottom: 0;
  left: calc(50% - 44px);
}

  .title-block__sub-head {
    font-size: 18px;
    max-width: 700px;
    text-align: center;
  }