@import "./normalize.min.css";
@import "./color.css";
@import "./reset.css";
@import "./headers.css";
@import "./circle.css";

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  color: var(--light-text-color);
}

.header {
  align-items: flex-end;
  background-color: var(--welcome-bg-color);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 53px;
  position: absolute;
  left: 0;
  right: 0;
  max-width: 1050px;
}

.logo {
  position: relative;
  margin: 0;
  max-width: 117px;
}

.logo:hover {
  filter: contrast(75%);
}

.menu {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  max-width: 450px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

#switch {
  opacity: 0;
}

.menu__list__item {
  display: flex;
}

.menu__list__link {
  padding: 8px 17px;
}

.menu__list__item:hover {
  background-color: var(--menu-backlight-color);
  border-radius: 5px;
}

.main {
  margin: 0 auto;
}

.welcome {
  align-items: center;
  background-color: var(--welcome-bg-color);
  display: flex;
  justify-content: center;
  height: 100vh;
}

.welcome__block {
  margin: 0 auto;
}

.welcome__block__text {
  font-size: 42px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 54px;
  text-align: center;
}

.welcome__block__button__link {
  background-color: var(--button-welcome-color);
  border-bottom: 4px solid var(--shadow-color);
  border-radius: 5px;
  display: inline-block;
  padding: 28px 81px;
}

.services {
  background-color: var(--service-bg-color);
}

.services__list {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.services__list__item__img {
  margin-bottom: 56px;
  max-width: 200px;
}

.services__list__item__title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 27px;
}

.team {
  background-color: var(--team-bg-color);
  color: var(--dark-text-color);
}

.team__person {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.team__person__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team__person__photo {
  margin-bottom: 41px;
}

.team__person__photo__img {
  border-radius: 100px;
  height: 200px;
  width: 200px;
}

.team__person__name {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.team__person__position {
  color: var(--team-position-text-color);
  margin-bottom: 27px;
}

.team__person__description {
  margin-bottom: 29px;
}

.team__person__contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #bdd1df;
  border-radius: 50%;
}

.team__person__contacts {
  display: inline-flex;
}

.team__person__contacts__item {
  margin-right: 12px;
}

.team__person__contacts__item:nth-last-child(1) {
  margin: 0;
}

.team__person__contacts__item {
  filter: brightness(100%);
}

.team__person__contacts__item:hover {
  filter: brightness(115%);
}

.skills {
  background-color: var(--skills-bg-color);
  color: var(--dark-text-color);
}

.skills__percent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  padding: 0;
}

.skills__percent__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 25%;
  width: 100%;
}

.skills__percent__text {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.portfolio {
  background-color: var(--portfolio-bg-color);
  color: var(--dark-text-color);
}

.portfolio .title-block__sub-head {
  margin-bottom: 42px;
}

.portfolio .title-block {
  margin-bottom: 62px;
}

.title-block__filter {
  display: flex;
  justify-content: space-between;
}

.title-block__filter__item {
  background-color: var(--shadow-color);
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  padding: 9px 26px;
  text-transform: uppercase;
}

.title-block__filter__item:nth-last-child(1) {
  margin: 0;
}

.title-block__filter__item:hover {
  background-color: var(--dark--shadow-color);
}

.title-block__filter .active {
  background-color: var(--active-filter-bg-color);
}

.portfolio {
  align-items: center;
}

.portfolio__example {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  }

.portfolio__example__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 83px;
  max-width: 50%;
}

.portfolio__example__item:first-child { 
  margin-bottom: 64px;
}

.portfolio__example__item:nth-child(2) {
  margin-bottom: 64px;
}

.portfolio__example__bg {
  background-image: url(../img/laptop.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 32px;
  background-size: 100%;
  padding: 3% 0 6% 0 ;
  width: 541px;
  height: 311px;
}

.portfolio__example__img {
  margin-bottom: 0px;
  max-width: 420px;
  width: 100%;
}

.portfolio__example__text {
  font-size: 18px;
  text-transform: uppercase;
}

.portfolio__button__link {
  background-color: var(--button-load-color);
  border-bottom: 4px solid var(--shadow-color);
  border-radius: 5px;
  display: inline-block;
  padding: 28px 56px;
}

.opinion {
  align-items: center;
  background-color: var(--opinion-bg-color);
} 

.opinion__list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.opinion__list__commentator {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  max-width: 530px;
  padding: 0;
}

.opinion__list__item:first-child {
  margin-bottom: 147px;
}

.opinion__list__item:nth-child(2) {
  margin-bottom: 147px;
}

.opinion__list__commentator__photo {
  background-color: var(--photo-bg-color);
  border-radius: 100px;
  margin-right: 48px;
  height: 96px;
  width: 96px;
}

.opinion__list__commentator__comment {
  display: flex;
  flex-direction: column;
}

.opinion__list__commentator__comment__text {
  font-size: 21px;
  font-style: italic;
  margin-bottom: 28px;
}

.opinion__list__commentator__comment__name {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.opinion__list__commentator__comment__position {
  color: var(--commentator-position-text-color);
}

.connection {
  background-color: var(--connection-bg-color);
}

.connection__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 59px;
  max-width: 860px;
  width: 100%;
}

.connection__form__placeholder {
  cursor: text;
  display: none;
  font-size: 18px;
  line-height: 56px;
  padding-left: 25px;
  position: absolute;
  left: 0;
}

.connection__form__star {
  color: var(--star-color);
}

.connection__form__name-label .connection__form__input-name:invalid + .connection__form__placeholder,
.connection__form__email-label .connection__form__input-email:invalid + .connection__form__placeholder,
.connection__form__text-label .connection__form__input-text:invalid + .connection__form__placeholder{
  display: inline;
}

.connection__form__name-label,
.connection__form__email-label {
  position: relative;
  width: 48%;
  height: 56px;
  margin-bottom: 25px;
  background-color: var(--form-color);
  border-radius: 5px;
}

.connection__form__text-label {
  position: relative;
  width: 100%;
}

.connection__form__input-name,
.connection__form__input-email,
.connection__form__input-text {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  border: none;
  padding-left: 25px;
}

.connection__form__input-text {
  min-height: 200px;
  border-radius: 5px;
  padding-top: 16px;
  resize: none;
}

.connection__form__text-label {
  background-color: var(--form-color);
}

.connection__form__input-name:focus + .connection__form__placeholder,
.connection__form__input-email:focus + .connection__form__placeholder,
.connection__form__input-text:focus + .connection__form__placeholder {
  opacity: 0;
}

.connection__form__name-label:hover,
.connection__form__email-label:hover,
.connection__form__text-label:hover {
  background-color: var(--shadow-color);
}

.connection__button__link {
  background-color: var(--button-send-color);
  border-bottom: 4px solid var(--shadow-color);
  border-radius: 5px;
  display: inline-block;
  padding: 28px 84px;
}

.footer {
  background-color: var(--footer-bg-color);
  display: flex;
  justify-content: center;
  padding: 48px 0 41px;
}

.footer__contacts {
  align-items: center;
  display: flex;
  font-size: 22px;
  justify-content: space-between;
  max-width: 938px;
  width: 100%;
}

.footer__contacts__link:hover {
  color: var(--footer-text-color);
}