@media all and (max-width: 1190px) {
  .opinion__list__commentator {
    max-width: 370px;
  }
  .opinion__list {
    padding-left: 20px;
    padding-right: 20px;
  }
  .portfolio__example__bg {
    width: 441px;
    height: 100%;
  }
  .portfolio__example__img {
    max-width: 339px;
}
.portfolio__example {
  max-width: 950px;
}
}
@media all and (max-width: 1100px) {
    
    .logo {
      margin-left: 30px;
    }
    .welcome__block {
      padding: 0 25px;
    }
    .menu__list {
      margin-right: 20px;
    }
    .section {
      padding-right: 30px;
      padding-left: 30px;
    }
}
@media all and (max-width: 1000px) {
  .opinion__list {
    justify-content: center;
} 
.opinion__list__item:nth-child(3) {
  margin-bottom: 147px;
}
.opinion__list__commentator {
  max-width: 520px;
}
.portfolio__example__bg {
  padding: 4% 0 6% 0 ;
  width: 541px;
}
.portfolio__example__img {
  max-width: 420px;
}
.portfolio__example {
  align-items: center;
  flex-direction: column;
}
.footer__contacts {
  padding-left: 10px;
  padding-right: 10px;
}
.team__person__item {
  width: 190px;
}
}
@media all and (max-width: 900px) {
  .team__person__item {
    width: 210px;
  }
    .welcome__block__text {
        font-size: 36px;
        margin-bottom: 70px;
      }
      .container {
        width: 100%;
        max-width: 620px;
      }
      .item:first-child {
          margin-bottom: 60px;
      }
      .item:nth-child(2) {
        margin-bottom: 60px;
      }
      .skills__percent__item {
        width: 100%;
        max-width: 50%;
      }
      .portfolio__example__text {
        font-size: 16px;
      }
      .skills__percent__item:first-child {
        margin-bottom: 60px;
      }
      .skills__percent__item:nth-child(2) {
        margin-bottom: 60px;
      }
      .connection__form {
        max-width: 670px;
        width: 100%;
    }
}
@media all and (max-width: 700px) {
    .connection__form {
        flex-direction: column;
        max-width: 540px;
        width: 100%;
    }
    .connection__form__name-label, .connection__form__email-label, .connection__form__text-label {
        width: 100%;
    }    
    .footer__contacts {
        flex-direction: column;
    }
    .footer__contacts__item {
        margin-bottom: 10px;
    }
    .footer__contacts__item:last-child {
        margin-bottom: 0;
    }
    #switch {
        opacity: 0;
    }
    .menu__burger {
        align-items: center;
        display: flex;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 58px ;
        right: 20px;
        cursor: pointer;
        z-index: 1;
      }
      .menu__burger > .menu__burger__form,
      .menu__burger > .menu__burger__form:before,
      .menu__burger > .menu__burger__form:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 5px;
        background: #fff;
      }
      .menu__burger > .menu__burger__form:before{
        content: "";
        top: -10px
      }
      .menu__burger > .menu__burger__form:after{
        content: "";
        top: 10px;
      }
      .menu__list {
        display: block;
        position: absolute;
        visibility: hidden;
        top: 110px;
        left: 0;
        width: 100%;
        height: 70vh;
        z-index: 5;
        border-radius: 20px;
        background-color: var(--welcome-bg-color);
      }
      .menu__list__item {
        display: flex;
        justify-content: center;
        padding: 30px 0;
      }
      .menu__list__link {
        font-size: 25px;
        font-weight: 500;
        color: var(--light-text-color);
      }
      #switch:checked ~ .menu__burger > .menu__burger__form {
        transform: rotate(45deg);
      }
      #switch:checked ~ .menu__burger > .menu__burger__form::before {
        top: 0;
        transform: rotate(0);
      }
      #switch:checked ~ .menu__burger > .menu__burger__form::after {
        top: 0;
        transform: rotate(90deg);
      }
      #switch:checked ~ .menu__list {
        visibility: visible;
      } 
      .menu__burger > .menu__burger__form,
      .menu__burger > .menu__burger__form::before,
      .menu__burger > .menu__burger__form::after {
          transition-duration: .25s; 
       }
       
       .portfolio__example__bg {
        width: 100%;
      }
      .portfolio__example__img {
        width: 76%;
    }
}
@media all and (max-width: 550px) {
    .connection__form {
        flex-direction: column;
        max-width: 380px;
        width: 100%;
    }
    .connection__form__input-text {
        min-height: 150px;
    }
    .connection__form__name-label, .connection__form__email-label, .connection__form__text-label {
        width: 100%;
    }
    .section {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  .title-block {
      margin-bottom: 50px;
    }
    .header {
      padding-top: 30px;
    }
    .menu__burger {
      top: 37px;
    }
    .team__person__photo__img {
        height: 150px;
        width: 150px;
    }
}
@media all and (max-width: 480px) {
    .welcome__block__text {
        font-size: 28px;
      }
    .connection__button__link {
        padding: 24px 60px;
      }
    .welcome__block__button__link {
        padding: 24px 55px;
      }
    .portfolio__button__link {
        padding: 24px 42px;
      }
    .container {
        max-width: 400px;
    }
    .services__list {
        justify-content: center;
      }
      .item:nth-child(3) {
        margin-bottom: 60px;
      }
      .team__person {
        justify-content: center;
      }
      .headers__text {
        font-size: 30px;
      }
      .skills__percent {
        justify-content: center;
      }
      .skills__percent__item {
        max-width: 60%;
      }
      .skills__percent__item:nth-child(3) {
        margin-bottom: 60px;
      }
      .commentator__comment {
          font-size: 18px;
      }
      .commentator__name {
          font-size: 20px;
      }
      .title-block__filter__item {
        padding: 6px 15px;
      }
}
}
@media all and (max-width: 410px) {
    .connection-form {
        max-width: 340px;
        width: 100%;
    }
    .welcome__block__text {
        font-size: 25px;
    }
    .portfolio__example__bg {
      padding: 10% 0 2% 0 ;
    }
}
    .connection__button__link {
        padding: 16px 42px;
      }
    .welcome__block__button__link {
        padding: 16px 35px;
      }
    .portfolio__button__link {
        padding: 16px 23px;
      }
    .button {
        font-size: 16px;
    }
      .services__list__item__img {
        margin-bottom: 35px;
      }
      
      .services__list__item__title {
        margin-bottom: 20px;
      }
      .team__person__photo {
          margin-bottom: 25px;
      }
      .team__person__name {
          margin-bottom: 8px;
      }
      .team__person__position {
          margin-bottom: 15px;
      }
      .team__person__description {
          margin-bottom: 15px;
      }
      .title-block__head {
          font-size: 25px;
      }
      .section {
          padding: 45px;
      }
      .opinion__list__commentator__photo {
          margin-right: 10px;
      }
      .opinion__list__commentator__photo {
        width: 80px;
        height: 80px;
      }
      .opinion__list {
        padding-left: 0;
        padding-right: 0;
      }
}
