._1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1440px;
    height: 6160px;
    z-index: 139;
  }
  .Progress {
    background-color: rgb( 235, 125, 75 );
    position: absolute;
    left: 1057px;
    top: 2569px;
    width: 168px;
    height: 176px;
    z-index: 138;
  }
  .Base {
    background-color: rgb( 223, 232, 237 );
    position: absolute;
    left: 1060px;
    top: 2580px;
    width: 160px;
    height: 160px;
    z-index: 137;
  }
  ._85_ {
    font-size: 43.188px;
    font-family: "TitilliumWeb";
    color: rgb( 60, 71, 97 );
    text-transform: uppercase;
    line-height: 0.417;
    text-align: left;
    -moz-transform: matrix( 1.15772307220509,0,0,1.15772307220509,0,0);
    -webkit-transform: matrix( 1.15772307220509,0,0,1.15772307220509,0,0);
    -ms-transform: matrix( 1.15772307220509,0,0,1.15772307220509,0,0);
    position: absolute;
    left: 1109.636px;
    top: 2657.108px;
    z-index: 136;
  }
  .UI___UX {
    font-size: 24px;
    font-family: "TitilliumWeb";
    color: rgb( 60, 71, 97 );
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.75;
    text-align: left;
    position: absolute;
    left: 1102px;
    top: 2786.055px;
    z-index: 135;
  }
  