ul {
    list-style: none;
  }
  
  a {
    color: var(--main-text-color);
    display: inline-block;
    text-decoration: none;
  }
  
  h1, h2, h3 {
    text-transform: uppercase;
  }

  .menu__burger {
    display: none;
  }
  
  *, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .section {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 119px 0 120px;
  }

  .container {
    width: 100%;
    max-width: 1100px;
  }

  .item {
    max-width: 210px;
  }

  .button {
    color: var(--light-text-color);
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
  }

  .button:hover {
    filter: brightness(120%);
  }

.team__person__contacts__fab, 
.team__person__contacts__fas {
  color: white;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.team__person__contacts__fab {
  font-weight: 400;
  font-family: "Font Awesome 5 Brands";
}

.team__person__contacts__fas {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}

.facebook:before {
  content: "\f39e";
}

.twitter:before {
  content: "\f099";
}

.linkedin:before {
  content: "\f0e1";
}

.envelope:before {
  content: "\f0e0";
}